<section id="left-side" class="d-none d-md-block col-md-4 col-lg-3">
  <!--LEFT SIDE-->
  <div class="collapse navbar-collapse d-md-block" id="navbarNav2">
    <div class="navbar-nav">
      <ul>
        <li class="nav-item active"><a href=""><img src="images/sidebar/ico1.png" /> Home <span
              class="sr-only">(current)</span></a></li>
        <li class="nav-item"><a href=""><img src="images/sidebar/ico2.png" /> Reading List</a></li>
        <li class="nav-item"><a href=""><img src="images/sidebar/ico3.png" /> Listings</a></li>
        <li class="nav-item"><a href=""><img src="images/sidebar/ico4.png" /> Podcasts</a></li>
        <li class="nav-item"><a href=""><img src="images/sidebar/ico5.png" /> Videos</a></li>
        <li class="nav-item"><a href=""><img src="images/sidebar/ico6.png" /> Tags</a></li>
        <li class="nav-item"><a href="">More...</a></li>
      </ul>

    </div>
  </div>

  <div class="side-banner">
    <a href="#"><img style="width: 100%;" src="images/content/banner-side-2.jpg" alt="" srcset=""></a>
    <h2><a href="#">New Champion-Brand DEV Wear is Here!</a></h2>
  </div>
  <!--END LEFT SIDE-->
</section>
<section class="col-12 col-md-8 col-lg-6 bg-fondo" id="post-list">
  <!--<section id="post-list" class="post-wrapper">-->
  <div class="row">
    <!--POST-->
    <div class="col-12 pb-1 pt-3 px-md-0">
      <div class="section-title d-flex justify-content-between align-items-center pt-3">
        <div>
          <h1>Posts</h1>
        </div>
        <div class="filter-desktop d-none d-md-block">
          <!--filter-desktop-->
          <ul class="nav justify-content-end">
            <li class="nav-item rounded">
              <a class="nav-link  active" href="#" data-filter="feed" id="filtd-feed">Feed</a>
            </li>
            <li class="nav-item rounded">
              <a class="nav-link" href="#" data-filter="week" id="filtd-week">Week</a>
            </li>
            <li class="nav-item rounded">
              <a class="nav-link" href="#" data-filter="month" id="filtd-month">Month</a>
            </li>
            <li class="nav-item rounded">
              <a class="nav-link" href="#" data-filter="year" id="filtd-year">Year</a>
            </li>
            <li class="nav-item rounded">
              <a class="nav-link" href="#" data-filter="infinity" id="filtd-infinity">Infinity</a>
            </li>
            <li class="nav-item rounded">
              <a class="nav-link" href="#" data-filter="latest" id="filtd-latest">Latest</a>
            </li>
          </ul>
        </div>
        <div class="d-md-none filter-movil">
          <!--filter-movil-->
          <select id="feed-filter-select" class="p-2 rounded" aria-label="feed-filter-select">
            <option value="" selected="">Feed</option>
            <option value="/top/week">Week</option>
            <option value="/top/month">Month</option>
            <option value="/top/year">Year</option>
            <option value="/top/infinity">Infinity</option>
            <option value="/latest">Latest</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-12  p-0" id="card-wrapper">

    </div>
  </div>
</section>

<section class="col-lg-3 d-none d-lg-block p-3">
  <!--RIGHT SIDE-->
  <div class="card card-side-right mt-3 bg-white1">
    <img src="images/single/image_side_right.png" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title font-weight-bold bg-white1">Stories(122)</h5>
      <p class="card-text">
      </p>
    </div>
    <ul class="list-group list-group-flush ">
      <li class="list-group-item ">SheCoded 2021 — Stories From Women Building Software and the Allies
        Supporting
        Them</li>
      <li class="list-group-item ">Happy International Women's Day to the Women Building Online
        Community 💖
      </li>
      <li class="list-group-item ">Nevertheless, HomegirlHacker Coded in 2021!</li>
      <li class="list-group-item ">Nevertheless, Sigute Coded in 2020/2021!</li>
      <li class="list-group-item ">Resilience is key to my success</li>
      <li class="list-group-item ">

        <a href="#" class="btn btn-blue btn-lg btn-block">Share Your Story</a>
        <a href="#" class="btn btn-grey btn-lg btn-block">See all post</a>


      </li>
    </ul>
  </div>
  <div class="card card-side-right mt-3 bg-white1">
    <div class="card-header text-order ">
      Listings <span>See all</span>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item ">Meet iOS community with informal interviews
        <h6>misc</h6>
      </li>
      <li class="list-group-item ">Frontend Engineer for OSS project
        <h6>jobs</h6>
      </li>
      <li class="list-group-item ">The ultimate compilation of Cheat sheets (200+) - 🎁 / Roadmap to
        dev 🚀
        -Free!
        <h6>collabs</h6>
      </li>
      <li class="list-group-item ">[Mar 18th] ⚙️ React x REST API Workshop ⚙️
        <h6>events</h6>
      </li>
      <li class="list-group-item ">Developer Evangelist - Computer Vision & Robotics
        <h6>jobs</h6>
      </li>
    </ul>
    <div class="card-footer bg-white1 text-center font-weight-bold">
      Create a Listing
    </div>
  </div>
  <div class="card card-side-right mt-3 ">
    <div class="card-header font-weight-bold text-profile-from bg-white1">
      #news
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item ">Game Dev Digest — Issue #84 - Learning, Tips, and Free Courses
        <h6>3 comments</h6>
      </li>
      <li class="list-group-item ">Continuous Feedback for Developers
        <h6><span class="badge button-new">New</span></h6>
      </li>
      <li class="list-group-item ">You can now get voice and video calls with Whatsapp Desktop
        <h6><span class="badge button-new">New</span></h6>
      </li>
      <li class="list-group-item">PyScaffold 4.0 is here 🔥
        <h6><span class="badge button-new">New</span></h6>
      </li>
      <li class="list-group-item">I've Joined Forem as a Principal SRE
        <h6>3 comments</h6>
      </li>
    </ul>
  </div>
  <div class="card  card-side-right mt-3">
    <div class="card-header font-weight-bold text-profile-from">
      #help
    </div>
    <ul class="list-group list-group-flush ">
      <li class="list-group-item ">Application Design for Multi-Tenancy Apps
        <h6>3 comments</h6>
      </li>
      <li class="list-group-item">Linux from Scratch on WSL2?
        <h6><span class="badge button-new">New</span></h6>
      </li>
      <li class="list-group-item">The Odin Project still worth to go through in 2021?
        <h6>3 comments</h6>
      </li>
      <li class="list-group-item">How to install ImageMagick?
        <h6>3 comments</h6>
      </li>
      <li class="list-group-item">How do I create a Player for a Podcast using RSS Feed?
        <h6><span class="badge button-new">New</span></h6>
      </li>
    </ul>
    <!--END RIGHT SIDE-->
  </div>
  </div>
</section>