<div class="col-12 px-0">
  <div id="form-wrapper" class="w-100 bg-white1 p-3 my-md-4 shadow-sm rounded">
    <h1 class="text-center mx-auto mt-5 font-weight-bold">
      Agregar Nuevo Post
    </h1>

    <form class="m-3 p-3 text-muted" id="form-new-post">
      <div class="form-group">
        <label for="image">Agrega imagen de encabezado</label>
        <input type="text" class="form-control" name="imgPost" />
      </div>
      <div class="form-group">
        <label for="title">Titulo del post</label>
        <input type="text" class="form-control" name="postTitle" />
      </div>
      <div class="form-group">
        <label for="tags">Agrega tags</label>
        <input id="input-tags" type="text" class="form-control" name="tags" />
      </div>
      <div class="form-group">
        <label for="content">Agrega contenido:</label>
        <input type="text" class="h-10 form-control" name="contentPost" />
      </div>

      <button
        type="button"
        class="btn btn-primary w-100 mt-3 bg-blue-boton"
        id="save-new-post"
      >
        Publicar post
      </button>
    </form>
  </div>
</div>

<script>
  //Para agregarle comas a los tags
  $("#input-tags").keyup(function () {
    var str = this.value.replace(/(\w)[\s,]+(\w?)/g, "$1, $2");
    if (str != this.value) this.value = str;
  });
</script>
