

<h1 class="text-center">Agregar Nuevo Post</h1>

<div id="form-wrapper" class="col-12">
    <form class="m-3 p-3 text-muted" id="formNewMentor" >
        <div class="form-group">
            <label for="image">Add cover image:</label>
            <input type="text" class="form-control" name="cover-image" value="">
        </div>
        <div class="form-group">
            <label for="title">Title of the new post:</label>
            <input type="text" class="form-control" name="title" value="">
        </div>
        <div class="form-group">
            <label for="content">Add Content:</label>
            <input type="text" class="h-10 form-control" name="description" value="">
        </div>
        <div class="form-group">
            <label for="image">Add Content Image:</label>
            <input type="text" class="form-control" name="content-image" value="">
        </div>

        <button type="button" class="btn btn-primary w-100 mt-3" id="guardar">Guardar</button>
    </form>
</div>

<section class="col-12 col-md-12 col-lg-12" id="post-list">
    <div class="row">
      <!--POST-->
      <article class="card mb-3 mt-3">
        <!--COVER SECTION-->
        <img src="images/single/photo-main.jpeg" class="card-img-top" alt="...">
        <div class="card-body">

          <div>
            <h1 class="card-title feature">
              <a href="">Diagnosing Performance Issues 💻</a>
            </h1>
          </div>

          <div class="tags" d-inline-flex>
            <a href="#"><span>#</span>beginners</a>
            <a href="#"><span>#</span>productivity</a>
            <a href="#"><span>#</span>javascript</a>
            <a href="#"><span>#</span>webdev</a>
          </div>

          <!--AUTOR SECTION-->
          <div class="autor">
            <img class="rounded-circle border border-secondary ico-profile"
              src="images/single/photo-profile.jpeg" />
            <div class="autor-name">
              <div>Laurie</div>
              <div>
                <time datetime="2021-03-01T14:40:00Z" class="date-no-year"
                  title="lunes, 1 de marzo de 2021 8:40:00">1 mar</time>

                <em>
                  Originally published at
                  <a href="#" style="color:#1395b8">laurieontech.com</a>
                </em>

                <span class="mr-4">・7 min read</span>
              </div>
            </div>
          </div>

          <!--CONTENT SECTION-->
          <div class="article-content">
            <p>We've talked about <a href="#">performance tools</a> and <a href="#">web vitals</a>. So you know
              how to measure performance and what the metrics are telling you. Now comes the hard part, how do you
              improve them?</p>

            <p>Lighthouse will give you some hints in particular cases, but the more complex your site, the less
              helpful those can be. After the baseline optimizations, what's next?</p>

            <h2>
              <a name="the-calculator" href="#the-calculator" class="anchor">
              </a>
              The calculator
            </h2>

            <p>The first thing to know is that your overall performance score is based on a balance of the three
              core web vitals (and some other metrics). In devtools, Lighthouse gives you a calculator that allows
              you to adjust these values and see the resulting overall score.</p>

            <p>To access the calculator run a Lighthouse audit and scroll to the Performance section.</p>

            <!--CONTENT IMAGE-->
            <a href="#" class="">
                <img class="w-100 rounded" src="images/single/content-image1.png"
                  alt="Screenshot showing the link to the calculator in the text under the performance section of the Lighthouse run."
                  loading="lazy">
            </a>

            <p>It will open up the calculator so you can start moving metrics around and get an idea of what to
              balance in order to improve your performance score.</p>
          </div>

        </div>
      </article>

    </div>
  </section>




