<section class="col-12 bg-white1 p-3 my-md-3 shadow">
  <div class="text-center">
    <h1 class="font-weight-bold">Welcome to DEV Community</h1>
    <p>DEV Communiry is a community of 606,615 amazing developers</p>
  </div>
  <form id="form-users">
    <div class="form-group">
        <label>Nombre de usuario</label>
        <input type="text" class="form-control" name="nickname">
    </div>
    <div class="form-group">
        <label>Nombre completo</label>
        <input type="text" class="form-control" name="fullName">
    </div>
    <div class="form-group">
        <label>URL Imagen</label>
        <input type="text" class="form-control" name="avatarUrl">
    </div>
    <div class="form-group">
        <label>Descripcion del usuario</label>
        <input type="text" class="form-control" name="description">
    </div>
    <div class="form-group">
        <label>Empresa</label>
        <input type="text" class="form-control" name="work">
    </div>
    <div class="form-group">
        <label>Ubicacion del usuario</label>
        <input type="text" class="form-control" name="location">
    </div>
    <button id="set-user" type="button" class="btn btn-primary bg-blue-boton text-white w-100">Registrar usuario</button>
  </form>
</section>
