

<section id="left-side" class="d-none d-md-block col-md-1">
    <!--LEFT SIDE-->

    <ul class="menu-inner-post">
      <li>
        <div id="reaction-heart"><img src="images/single/reaction-heart.svg" /></div>
        <span id="reaction-number-heart"></span>
        
      </li>
      
      <li>
        <div><img src="images/single/icon-unicorn.svg" /></div>
        1
      </li>
      <li>
        <div><img src="images/single/icon-flag.svg" /></div>
        0
      </li>
      <li>
        <div><img src="images/single/puntitos.svg" /></div>
      </li>
    </ul>

    <!--END LEFT SIDE-->
  </section>



  <section class="col-12 col-md-11 col-lg-8" id="post-list">
    <div class="row" id="post-article-wrapper">
      <!--POST-->

      
    </div>
  </section>

  <section class="col-lg-3 d-none d-lg-block p-3 overflow-auto sticky-top right-side-sticky" id="owner-card-info">
    <!--RIGHT SIDE-->
    

    <!--END RIGHT SIDE-->
  </section>

  